body {
    margin: 0;
    padding: 0;
        font-family: 'Raleway', sans-serif;
}

.main-container {
    width: 100%;
    height: 100vh;
    background: #FF5F6D;
    justify-content: center;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF5F6D, #FFC371);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF5F6D, #FFC371);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.us-title {
    width: 50%;
    padding: 45px;
    margin: 0 auto;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
}

.dev-gallery-container {
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
    border-radius:5px;
    /*border-top: 5px solid #e23d3d;
    border-bottom: 5px solid #e23d3d;
    border-left: 5px solid #e23d3d;
    border-right: 5px solid #e23d3d;*/
    display: block;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#gustavo-img {
    background-image: url("./img/gustavo.png");
}

#patryk-img {
    background-image: url("./img/patryk.png");
}

#matias-img {
    background-image: url("./img/matias.png");
}

.img {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    cursor: pointer;
    transition: all .3s;
    border-radius: 100%;
    background-color: rgba(0,0,0,.1);
    margin:10px;
    overflow: hidden;
}

.img p{
  line-height: 150px;
  margin:auto;
  width:100%;
  height:100%;
  opacity:0;
  border-radius: 100%;
  transition: all .2s;
}

.img:hover p{
  transition: all .2s;
opacity: 1;
background-color: rgba(0,0,0,.1);
}

.dynamic-img {
    float: left;
    width: 220px;
    height: 220px;
    content: url("./img/test.png");
    background-color: #fff;
}

.description {
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    color: #424140;
    height: 400px;
    right: 0;
    left: 0;
    background-color: grey;
    width: 50%;
    margin-top: 100px;
}

.dev-gallery-container .img:hover {
    transition: all .2s;
    background-size: 90% auto;
}

.us:hover {
    cursor: default;
}

@media (max-width:800px) {
    .dev-gallery-container {
        flex-direction: column;
        max-width: 160px;
    }
    .img {
        display: block;
        /*width: 80%;*/
        background-position: center;
    }
}
