div {
    width: 483px;
    height: 298px;
    background: #676470;
    transition: all 0.3s ease;
}
.rotate :hover
{
-webkit-transform:rotateZ (-30deg);
-ms-transform:rotateZ (-30deg);
transform:rotateZ (-30deg);
}
